*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.heading{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5em;
    font-family: 'Gill Sans' , 'Gill Sans MT ' , Calibri, ' Trebuchet MS' ,
    sans-serif;
}
#teamsCards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2.5em;
}
#numbersCards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2.5em;
}
.card{
    width:23%;
    box-shadow: 0 0 4px 3px darkgrey;
    text-align: center;
    padding:1.5em;
    margin-bottom:2em;
}
.images{
    width:80%;
}
.nom{
    margin-bottom: 0.75em;
}
